.container
  h2 = I18n.t('activerecord.attributes.view.summary.calendar')
  br
  = render 'template/task/calendar', {tasks: @day_tasks, date: @date_time, weekly: @weekly, lastM_path: summaries_calendar_path(:datetime => @date_time.last_month), nextM_path: summaries_calendar_path(:datetime => @date_time.next_month), url: '/summaries/'}