= render 'shared/admin_head'
- if @current_user.present?
  = render 'shared/header', {calendar: admin_summaries_calendar_path, tasks: admin_summaries_path, labels: admin_labels_path, groups: admin_groups_path, users: admin_users_path, edit_user: edit_admin_user_path(@current_user.id), user: admin_user_path(@current_user.id), logout: session_path(@current_user.id), name: @current_user.name}