= render 'shared/head'

- if @current_user.present?
  = render 'shared/header', {calendar: summaries_calendar_path, tasks: summaries_path, labels: labels_path, groups: groups_path, users: users_path, edit_user: edit_user_path(@current_user.id), user: user_path(@current_user.id), logout: session_path(@current_user.id), name: @current_user.name}