/*
*= require_self
*= require toastr
*/
@import "summaries";
@import "users";
@import "groups";
@import "labels";

@import "fine_adjustment";

$main_color1: #FFA258;
$main_color2: #f9bf8f;
$base_color: #fff7c2;
$action_color: #a02a63;
$text_color: #4b125c;

body {
  background-color: #fff7c2;
  color: $text_color;
  header {
    background: linear-gradient(-200deg, $main_color1, $main_color2);
    color: $text_color;
    a {
      color: $text_color;
    }
    ul.dropdown-menu {
      background-color: $main_color1;
      li a {
        color: $text_color;
        width: 200px;
        height: 50px;
        padding: 20px;
      }
    }
  }
  div.container {
    from {
      input {
        color: $text_color;
        background-color: #fff7c2;
        border-color: #df0054;
      }
    }
    ul.pagination {
      li {
        span {
          background-color: $base_color;
          color: $text_color;
        }
        a {
          background-color: $base_color;
          color: $text_color
        }
      }
      .active a {
        background-color: $action_color;
        border-color: $main_color2;
        color: $text_color;
      }
    }
    div#chart-1 {
      svg {
        rect {
          fill: #fff7c2;
        }
      }
    }
  }
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: $action_color;
}

.table-hover{
  > tbody > tr:hover {
    background-color: #FFA258;
  }
}

.td-hover {
  > tbody > tr > td:hover {
    background-color: #FFA258;
  }
}