/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to new a new file per style scope.
 *
 *= require_self
 *= require toastr
 * require dropzone/basic
 * require dropzone/dropzone
 */
@import "sessions";
@import "summaries";
@import "users";




$main_color1: #0099FF;
$main_color2: #00FFFF;
$base_color: #f0f0f0;
$action_color: #002040;
$text_color: #000000;

body {
  background-color: $base_color;
  color: $text_color;
  header {
    background: linear-gradient(-200deg, $main_color1, $main_color2);
    color: $text_color;
    a {
      color: $text_color;
    }
    ul.dropdown-menu {
      background-color: $main_color1;
      li a {
        color: $text_color;
        width: 200px;
        height: 50px;
        padding: 20px;
      }
    }
  }
  div.container {
    from {
      input {
        color: $text_color;
        background-color: $base_color;
        border-color: #df0054;
      }
    }
    ul.pagination {
      li {
        span {
          background-color: $base_color;
          color: $text_color;
        }
        a {
          background-color: $base_color;
          color: $text_color
        }
      }
      .active a {
        background-color: $action_color;
        border-color: $main_color2;
        color: $text_color;
      }
    }
    div#chart-1 {
      svg {
        rect {
          fill: $base_color;
        }
      }
    }
  }
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: $action_color;
}